:root {
  /* Typography */
  --heading-xl: 64px; // 88px -2.5px char. spacing
  --heading-l: 36px; // 48px -1.5px char. spacing
  --heading-m: 20px; // 24px
  --body-l: 16px; // 18px

  /* Spacing */
  --spacing-0: 0em;
  --spacing-025: 0.125em;
  --spacing-050: 0.25em;
  --spacing-075: 0.375em;
  --spacing-100: 0.5em;
  --spacing-150: 0.75em;
  --spacing-200: 1em;
  --spacing-250: 1.25em;
  --spacing-300: 1.5em;
  --spacing-400: 2em;
  --spacing-500: 2.5em;
  --spacing-600: 3em;
  --spacing-800: 4em;
  --spacing-1000: 5em;

  /* Radius */
  --radius-100: 8px;
  --radius-200: 12px;
  --radius-full: 999px;

  /* Screen sizes */
  --screen-900: 1200px;
  --screen-700: 1000px;
  --screen-500: 800px;
  --screen-300: 600px;
  --screen-100: 400px;
}