@import "palettes/mainPalette.css";
/* Tool: https://coolors.co/ */

html {
    color-scheme: light dark;
}

:root {
    /* Light */

    --primary-100: var(--seasalt);
    --primary-200: var(--antiflash-white);
    --primary-300: var(--platinum);
    --primary-400: var(--french-gray);
    --primary-500: var(--french-gray-2);
    --primary-600: var(--slate-gray);
    --primary-700: var(--outer-space);
    --primary-800: var(--onyx);
    --primary-900: var(--eerie-black);

    --brand: var(--rose-pompadour);
    --sucess: var(--emerald);
    --warning: var(--icterine);
    --danger: var(--red-munsell);

    /* Text */
    --text-neutral-primary: var(--eerie-black);
    --text-neutral-secondary: var(--onyx);

    --text-accent-primary: var(--rose-pompadour);
    --text-danger-primary: var(--red-munsell);

    /* Backgrounds */
    --bg-neutral-primary: var(--seasalt);
    --bg-neutral-secondary: var(--french-gray);

    --border-neutral-primary: var(--eerie-black);

    /* Gradients */
    --grad-top: --gradient-top;
    --grad-bottom: --gradient-bottom;

    --grad-right: --gradient-right;
    --grad-left: --gradient-left;

    --grad-top-right: --gradient-top-right;
    --grad-bottom-right: --gradient-bottom-right;

    --grad-top-left: --gradient-top-left;
    --grad-bottom-left: --gradient-bottom-left;

    --grad-radial: --gradient-radial;

    /* Liquid Glass */
    --bg-glass-primary: var(--slate-gray);
    --bg-glass-secondary: var(--outer-space);

    --bg-glass-backdrop: var(--antiflash-white);

    --border-glass-primary: var(--outer-space);
    --border-glass-secondary: var(--slate-gray);

    body {
        background-image:
                linear-gradient(hsl(from var(--bg-neutral-primary) h s l / 0.2) 0 0),
                url("/assets/svg/pattern-light-bg.svg");
    }

    .card {
        box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
    }

    @media (prefers-color-scheme: dark) {
        /* Dark */

        --primary-100: var(--eerie-black);
        --primary-200: var(--onyx);
        --primary-300: var(--outer-space);
        --primary-400: var(--slate-gray);
        --primary-500: var(--french-gray-2);
        --primary-600: var(--french-gray);
        --primary-700: var(--platinum);
        --primary-800: var(--antiflash-white);
        --primary-900: var(--seasalt);

        --brand: var(--rose-pompadour);
        --sucess: var(--emerald);
        --warning: var(--icterine);
        --danger: var(--red-munsell);

        /* Text */
        --text-neutral-primary: var(--seasalt);
        --text-neutral-secondary: var(--french-gray);

        --text-accent-primary: var(--rose-pompadour);
        --text-danger-primary: var(--red-munsell);

        /* Backgrounds */
        --bg-neutral-primary: var(--eerie-black);
        --bg-neutral-secondary: var(--onyx);

        --border-neutral-primary: var(--seasalt);

        /* Gradients */
        --grad-top: --gradient-top;
        --grad-bottom: --gradient-bottom;

        --grad-right: --gradient-right;
        --grad-left: --gradient-left;

        --grad-top-right: --gradient-top-right;
        --grad-bottom-right: --gradient-bottom-right;

        --grad-top-left: --gradient-top-left;
        --grad-bottom-left: --gradient-bottom-left;

        --grad-radial: --gradient-radial;

        /* Liquid Glass */
        --bg-glass-primary: var(--outer-space);
        --bg-glass-secondary: var(--onyx);

        --bg-glass-backdrop: var(--eerie-black);

        --border-glass-primary: var(--slate-gray);
        --border-glass-secondary: var(--outer-space);

        body {
            background-image:
                    linear-gradient(hsl(from var(--bg-neutral-primary) h s l / 0.2) 0 0),
                    url("/assets/svg/pattern-dark-bg.svg");
        }

        .card {
            box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }
    }
}

:root:has(#theme [value="light"]:checked) {
    color-scheme: light;

    /* Light */

    --primary-100: var(--seasalt);
    --primary-200: var(--antiflash-white);
    --primary-300: var(--platinum);
    --primary-400: var(--french-gray);
    --primary-500: var(--french-gray-2);
    --primary-600: var(--slate-gray);
    --primary-700: var(--outer-space);
    --primary-800: var(--onyx);
    --primary-900: var(--eerie-black);

    --brand: var(--rose-pompadour);
    --sucess: var(--emerald);
    --warning: var(--icterine);
    --danger: var(--red-munsell);

    /* Text */
    --text-neutral-primary: var(--eerie-black);
    --text-neutral-secondary: var(--onyx);

    --text-accent-primary: var(--rose-pompadour);
    --text-danger-primary: var(--red-munsell);

    /* Backgrounds */
    --bg-neutral-primary: var(--seasalt);
    --bg-neutral-secondary: var(--french-gray);

    --border-neutral-primary: var(--eerie-black);

    /* Gradients */
    --grad-top: --gradient-top;
    --grad-bottom: --gradient-bottom;

    --grad-right: --gradient-right;
    --grad-left: --gradient-left;

    --grad-top-right: --gradient-top-right;
    --grad-bottom-right: --gradient-bottom-right;

    --grad-top-left: --gradient-top-left;
    --grad-bottom-left: --gradient-bottom-left;

    --grad-radial: --gradient-radial;

    /* Liquid Glass */
    --bg-glass-primary: var(--slate-gray);
    --bg-glass-secondary: var(--outer-space);

    --bg-glass-backdrop: var(--antiflash-white);

    --border-glass-primary: var(--outer-space);
    --border-glass-secondary: var(--slate-gray);

    body {
        background-image:
        linear-gradient(hsl(from var(--bg-neutral-primary) h s l / 0.2) 0 0),
        url("/assets/svg/pattern-light-bg.svg");
    }

    .card {
        box-shadow: rgba(255, 255, 255, 0.17) 0px -23px 25px 0px inset, rgba(255, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset, rgba(255, 255, 255, 0.06) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px, rgba(255, 255, 255, 0.09) 0px 8px 4px, rgba(255, 255, 255, 0.09) 0px 16px 8px, rgba(255, 255, 255, 0.09) 0px 32px 16px;
    }
}

:root:has(#theme [value="dark"]:checked) {
    color-scheme: dark;

    /* Dark */

    --primary-100: var(--eerie-black);
    --primary-200: var(--onyx);
    --primary-300: var(--outer-space);
    --primary-400: var(--slate-gray);
    --primary-500: var(--french-gray-2);
    --primary-600: var(--french-gray);
    --primary-700: var(--platinum);
    --primary-800: var(--antiflash-white);
    --primary-900: var(--seasalt);

    --brand: var(--rose-pompadour);
    --sucess: var(--emerald);
    --warning: var(--icterine);
    --danger: var(--red-munsell);

    /* Text */
    --text-neutral-primary: var(--seasalt);
    --text-neutral-secondary: var(--french-gray);

    --text-accent-primary: var(--rose-pompadour);
    --text-danger-primary: var(--red-munsell);

    /* Backgrounds */
    --bg-neutral-primary: var(--eerie-black);
    --bg-neutral-secondary: var(--onyx);

    --border-neutral-primary: var(--seasalt);

    /* Gradients */
    --grad-top: --gradient-top;
    --grad-bottom: --gradient-bottom;

    --grad-right: --gradient-right;
    --grad-left: --gradient-left;

    --grad-top-right: --gradient-top-right;
    --grad-bottom-right: --gradient-bottom-right;

    --grad-top-left: --gradient-top-left;
    --grad-bottom-left: --gradient-bottom-left;

    --grad-radial: --gradient-radial;

    /* Liquid Glass */
    --bg-glass-primary: var(--outer-space);
    --bg-glass-secondary: var(--onyx);

    --bg-glass-backdrop: var(--eerie-black);

    --border-glass-primary: var(--slate-gray);
    --border-glass-secondary: var(--outer-space);

    body {
        background-image:
                linear-gradient(hsl(from var(--bg-neutral-primary) h s l / 0.2) 0 0),
                url("/assets/svg/pattern-dark-bg.svg");
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
}