@use '../scssMixins' as *;

.game-component {
  @include display-grid($align-items: center, $grid-columns: 1fr);
  @media screen and (min-width: 920px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  & > ul {
    justify-self: center;
  }
}

.game-status {
  z-index: 100;
  width: var(--menu-width);
  @include display-grid($grid-columns: repeat(3, 1fr));
  align-items: center;
  font-size: 1.325em;
  padding: var(--spacing-050);
  background-color: var(--bg-neutral-primary);
  border-radius: var(--radius-200) var(--radius-200) 0 0;
  /* Align hearts */
  & section:first-child {
    @include display-flex(
      $justify-content: center,
      $gap: .25em
    );
  }
  /* Scoreboard */
  & section:nth-child(2):has(span) {
    line-height: 1;
    @include display-flex(
      $gap: 0
    );
    flex-direction: column;
  }
  & img {
    height: 1.325em;

    }
}

.game-status-settings  {
  @include display-flex(
    $gap: 0px
  );
  & > section {
    @include display-flex(
      $justify-content: end,
      $gap: 0px
    );
    flex: 2;
  }
  & > button:has(>img) {
    @include display-flex();
    border-radius: var(--radius-full);
    aspect-ratio: 1 / 1;
    cursor: url("/gameArt/pointer-o.png"), pointer;
    padding: var(--spacing-050);
    background-color: var(--bg-neutral-secondary);
    height: 40px;
  }
}

.mute-button {
  --opacity: 0;
  --size: 75%;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-image: url('/gameArt/no.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: var(--opacity);
  }
}

.game-ui {
  border-radius: 0 0 var(--radius-200) var(--radius-200);
  text-align: center;
  width: var(--menu-width);
  height: calc(var(--menu-width) * 1.25);
  position: relative;
  top: 0;
  margin: 0;
  font-weight: 700;
  padding: var(--spacing-100);
  background: hsl(from var(--primary-100) h s l / .65);
  backdrop-filter: blur(4px);
  & > button {
    border: 1px solid var(--primary-100);
    border-radius: var(--radius-200);
    margin: var(--spacing-150);
    background-color: var(--primary-300);
    &:last-child {
      background-color: var(--brand);
    }
    &:hover {
      cursor: url("/gameArt/pointer-o.png"), pointer;
      background-color: var(--primary-500);
    }
  }
  & > *:not(.score-submit) {
    @include display-flex();

  }
  & img {
    height: 200px;
    margin: auto;
  }

}

.score-submit {
  @include display-flex($justify-content: start, $gap: 5px);
  :last-child {
    /* Button */
    margin-left: auto;
    background-color: var(--bg-neutral-secondary);
  }
  & > button {
    border: 1px solid var(--primary-100);
    border-radius: var(--radius-200);
    margin: var(--spacing-150);
    background-color: var(--primary-300);
    &:last-child {
      background-color: var(--brand);
    }
    &:hover {
      cursor: url("/gameArt/pointer-o.png"), pointer;
      background-color: var(--primary-500);
    }
  }
  & > input {
    border: 1px solid transparent;
    background-color: var(--bg-neutral-secondary);
    border-radius: var(--radius-200);
    padding: var(--spacing-100);
    max-width: 18ch;
    &::placeholder {
      font-size: .85em;
    }
    &:focus {
      outline: none;
      border: 1px solid var(--brand);
    }
  }
  & > input, label {
    &:hover {
      cursor: url("/gameArt/cursor-o.png"), pointer;
    }
  }
}