@use '../scssMixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&family=Silkscreen&display=swap');


img {
  height: 200px;
}

.leaderboard-ul {
  font-size: 1.2em;
  font-weight: 1.1;
  border-radius: 0 0 var(--radius-200) var(--radius-200);
  background-color: var(--bg-neutral-primary);
  list-style: none;
  padding: 2rem;
  & > * {
    text-align: center;
  }
}



$leaderboard-keys: (gold, silver, copper);

@for $_ from 1 through length($leaderboard-keys) {

  $leaderboard-colors: (
          gold: hsl(46, 89%, 56%),
          silver: hsl(0, 0%, 75%),
          copper: hsl(25, 58%, 38%)
  );
  $key: nth($leaderboard-keys, $_);
  $color: map-get($leaderboard-colors, $key);
  .leaderboard-ul > :nth-child(#{$_}) {
    @include display-flex(
            $gap: 0,
            $justify-content: center
    );
    color: $color;
    background-color: hsl(from var(--outer-space) h s l / .5);
    padding-inline: var(--spacing-075);
    border-radius: var(--radius-200);
    font-weight: bold;
    &::after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $color;
      mask: url("/assets/svg/trophy-solid-full.svg") no-repeat center;
      mask-size: contain;
      margin-left: var(--spacing-075);
    }
  }

}

.score-card {
  margin-block: var(--spacing-100);
  & > *::before {
    content: attr(index-data);
    margin-right: var(--spacing-100);
  }
}

.leaderboard {
  border: 2px solid var(--bg-neutral-primary);
  border-radius: var(--radius-200);
  display: flex;
  flex-direction: column;
  @media screen and (width < 920px) {
    width: var(--menu-width);
    margin: auto;
  }

  & h3 {
    font-family: "Press Start 2P", "VT323", "Pixel Operator", "04b03", "Silkscreen", "Courier New", "Lucida Console", "Monaco", "Consolas", monospace;
    font-weight: bold;
    padding: var(--spacing-200);
    flex-shrink: 0;
    margin: auto;
  }
}



.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}