/* Coolors Exported Palette - https://coolors.co/963484-3066be-60afff-28c2ff-2af5ff */

:root {
  --plum: hsla(311, 49%, 40%, 1);
  --true-blue: hsla(217, 60%, 47%, 1);
  --argentinian-blue: hsla(210, 100%, 69%, 1);
  --deep-sky-blue: hsla(197, 100%, 58%, 1);
  --electric-blue: hsl(186, 100%, 58%);
  --aqua: hsla(183, 100%, 58%, 1);
  --danger: hsla(359, 88%, 55%, 1);
}

/* CSS HEX
--plum: #963484ff;
--true-blue: #3066beff;
--argentinian-blue: #60afffff;
--deep-sky-blue: #28c2ffff;
--aqua: #2af5ffff;*/

/* CSS HSL */


/* SCSS HEX
$plum: #963484ff;
$true-blue: #3066beff;
$argentinian-blue: #60afffff;
$deep-sky-blue: #28c2ffff;
$aqua: #2af5ffff;*/

/* SCSS HSL
$plum: hsla(311, 49%, 40%, 1);
$true-blue: hsla(217, 60%, 47%, 1);
$argentinian-blue: hsla(210, 100%, 69%, 1);
$deep-sky-blue: hsla(197, 100%, 58%, 1);
$aqua: hsla(183, 100%, 58%, 1);*/

/* SCSS RGB
$plum: rgba(150, 52, 132, 1);
$true-blue: rgba(48, 102, 190, 1);
$argentinian-blue: rgba(96, 175, 255, 1);
$deep-sky-blue: rgba(40, 194, 255, 1);
$aqua: rgba(42, 245, 255, 1);*/

/* SCSS Gradient
$gradient-top: linear-gradient(0deg, #963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);
$gradient-right: linear-gradient(90deg, #963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);
$gradient-bottom: linear-gradient(180deg, #963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);
$gradient-left: linear-gradient(270deg, #963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);
$gradient-top-right: linear-gradient(45deg, #963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);
$gradient-bottom-right: linear-gradient(135deg, #963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);
$gradient-top-left: linear-gradient(225deg, #963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);
$gradient-bottom-left: linear-gradient(315deg, #963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);
$gradient-radial: radial-gradient(#963484ff, #3066beff, #60afffff, #28c2ffff, #2af5ffff);*/