/* Coolors Exported Palette - https://coolors.co/67597a-544e61-6e8894-85baa1-ceeddb */

/* CSS HEX */
--chinese-violet: #67597aff;
--english-violet: #544e61ff;
--slate-gray: #6e8894ff;
--cambridge-blue: #85baa1ff;
--honeydew: #ceeddbff;

/* CSS HSL */
--chinese-violet: hsla(265, 16%, 41%, 1);
--english-violet: hsla(259, 11%, 34%, 1);
--slate-gray: hsla(199, 15%, 51%, 1);
--cambridge-blue: hsla(152, 28%, 63%, 1);
--honeydew: hsla(145, 46%, 87%, 1);

/* SCSS HEX */
$chinese-violet: #67597aff;
$english-violet: #544e61ff;
$slate-gray: #6e8894ff;
$cambridge-blue: #85baa1ff;
$honeydew: #ceeddbff;

/* SCSS HSL */
$chinese-violet: hsla(265, 16%, 41%, 1);
$english-violet: hsla(259, 11%, 34%, 1);
$slate-gray: hsla(199, 15%, 51%, 1);
$cambridge-blue: hsla(152, 28%, 63%, 1);
$honeydew: hsla(145, 46%, 87%, 1);

/* SCSS RGB */
$chinese-violet: rgba(103, 89, 122, 1);
$english-violet: rgba(84, 78, 97, 1);
$slate-gray: rgba(110, 136, 148, 1);
$cambridge-blue: rgba(133, 186, 161, 1);
$honeydew: rgba(206, 237, 219, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);
$gradient-right: linear-gradient(90deg, #67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);
$gradient-bottom: linear-gradient(180deg, #67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);
$gradient-left: linear-gradient(270deg, #67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);
$gradient-top-right: linear-gradient(45deg, #67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);
$gradient-bottom-right: linear-gradient(135deg, #67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);
$gradient-top-left: linear-gradient(225deg, #67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);
$gradient-bottom-left: linear-gradient(315deg, #67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);
$gradient-radial: radial-gradient(#67597aff, #544e61ff, #6e8894ff, #85baa1ff, #ceeddbff);