@use '../scssMixins' as *;

footer .footer-social-links {
  @include display-flex($gap: 0);
  & figure {
    @include display-flex();
    margin-inline: 0;
  }
  & a:hover {
    color: var(--text-accent-primary);
    cursor: pointer;
  }
  & svg {
    height: 1rem;
    fill: var(--text-neutral-primary);
    &:hover {
      fill: var(--text-accent-primary);
      cursor: pointer;
    }
  }
}