
.liquify {
  --border-width: 1px;
  border-radius: 1rem;
  position: relative;

  padding: var(--spacing-200);

  background: hsl(from var(--primary-400) h s l / 0.25);
  backdrop-filter: blur(6px);
  z-index: 100099999;
}

.liquify::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(to bottom, var(--primary-200), var(--primary-300)) border-box;
  mask: linear-gradient(black, black) border-box,
  linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}

.light-explosion {
}

.text-warning {
  color: var(--warning);
}

.text-success {
  color: var(--success);
}

main {
  background-color: var(--bg-neutral-secondary);
}