
.liquify {
  --border-width: 1px;
  border-radius: 1rem;
  position: relative;

  padding: var(--spacing-200);

  background: hsl(from var(--primary-400) h s l / 0.25);
  /* Keep at 8px */
  backdrop-filter: blur(6px);
  /*box-shadow: var(--primary-300) 0px 0px 32px;*/
  z-index: 100099999;
}

.liquify::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(to bottom, var(--primary-200), var(--primary-300)) border-box;
  mask: linear-gradient(black, black) border-box,
  linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}

.light-explosion {
}

.text-warning {
  color: var(--warning);
}

body {/*
  background-size: cover;
  background-color: var(--bg-neutral-primary);
  background-position: center center;
  background-image: url("/assets/svg/pattern-dark-bg.svg");*/
  /*background-image: url("https://images.unsplash.com/photo-1535408190508-be4c21946da6?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDc3NTcyOTB8&ixlib=rb-4.1.0&q=85");*/
  /*background-size: 150%;*/
}

main {
  background-color: var(--bg-neutral-secondary);
}

/*https://images.unsplash.com/photo-1535408190508-be4c21946da6?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3NDc3NTcyOTB8&ixlib=rb-4.1.0&q=85*/

/*:root {
  --primary-700: hsl(243, 26%, 15%);
  --primary-600: hsl(252, 9%, 22%);
  --primary-500: hsl(259, 13%, 28%);
  --surface-3: var(--primary-700);
  --border-1: var(--primary-500); !* top *!
  --border-2: var(--primary-600); !* bottom *!
}*/