.hero-section {
  h1 {
    margin: 0;
  }
  @media screen and (width >= 1035px) {
  background-image: url("/public/assets/pfp.JPG");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  }
}