@import "palettes/mainPalette.css";
/* Tool: https://coolors.co/ */
html {
  color-scheme: light dark;
}

:root {
  /* Light */
  --primary-100: var(--seasalt);
  --primary-200: var(--antiflash-white);
  --primary-300: var(--platinum);
  --primary-400: var(--french-gray);
  --primary-500: var(--french-gray-2);
  --primary-600: var(--slate-gray);
  --primary-700: var(--outer-space);
  --primary-800: var(--onyx);
  --primary-900: var(--eerie-black);
  --brand: var(--rose-pompadour);
  --sucess: var(--emerald);
  --warning: var(--icterine);
  --danger: var(--red-munsell);
  /* Text */
  --text-neutral-primary: var(--eerie-black);
  --text-neutral-secondary: var(--onyx);
  --text-accent-primary: var(--rose-pompadour);
  --text-danger-primary: var(--red-munsell);
  /* Backgrounds */
  --bg-neutral-primary: var(--seasalt);
  --bg-neutral-secondary: var(--french-gray);
  --border-neutral-primary: var(--eerie-black);
  /* Gradients */
  --grad-top: --gradient-top;
  --grad-bottom: --gradient-bottom;
  --grad-right: --gradient-right;
  --grad-left: --gradient-left;
  --grad-top-right: --gradient-top-right;
  --grad-bottom-right: --gradient-bottom-right;
  --grad-top-left: --gradient-top-left;
  --grad-bottom-left: --gradient-bottom-left;
  --grad-radial: --gradient-radial;
  /* Liquid Glass */
  --bg-glass-primary: var(--slate-gray);
  --bg-glass-secondary: var(--outer-space);
  --bg-glass-backdrop: var(--antiflash-white);
  --border-glass-primary: var(--outer-space);
  --border-glass-secondary: var(--slate-gray);
}
:root .theme-picker::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 200px; /* Set your desired max size */
  height: 2em;
  padding-bottom: 50%; /* Adjust based on your image aspect ratio */
  background-image: url("/gameArt/moon-o.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark */
    --primary-100: var(--eerie-black);
    --primary-200: var(--onyx);
    --primary-300: var(--outer-space);
    --primary-400: var(--slate-gray);
    --primary-500: var(--french-gray-2);
    --primary-600: var(--french-gray);
    --primary-700: var(--platinum);
    --primary-800: var(--antiflash-white);
    --primary-900: var(--seasalt);
    --brand: var(--rose-pompadour);
    --sucess: var(--emerald);
    --warning: var(--icterine);
    --danger: var(--red-munsell);
    /* Text */
    --text-neutral-primary: var(--seasalt);
    --text-neutral-secondary: var(--french-gray);
    --text-accent-primary: var(--rose-pompadour);
    --text-danger-primary: var(--red-munsell);
    /* Backgrounds */
    --bg-neutral-primary: var(--eerie-black);
    --bg-neutral-secondary: var(--onyx);
    --border-neutral-primary: var(--seasalt);
    /* Gradients */
    --grad-top: --gradient-top;
    --grad-bottom: --gradient-bottom;
    --grad-right: --gradient-right;
    --grad-left: --gradient-left;
    --grad-top-right: --gradient-top-right;
    --grad-bottom-right: --gradient-bottom-right;
    --grad-top-left: --gradient-top-left;
    --grad-bottom-left: --gradient-bottom-left;
    --grad-radial: --gradient-radial;
    /* Liquid Glass */
    --bg-glass-primary: var(--outer-space);
    --bg-glass-secondary: var(--onyx);
    --bg-glass-backdrop: var(--eerie-black);
    --border-glass-primary: var(--slate-gray);
    --border-glass-secondary: var(--outer-space);
  }
  :root .theme-picker::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 200px;
    height: 2em;
    padding-bottom: 50%;
    background-image: url("/gameArt/moon-o.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/*:root:has(#theme [value="light"]:checked)*/
/*:root:has(#themer:checked)*/
:root[data-theme=light] {
  color-scheme: light;
  /* Light */
  --primary-100: var(--seasalt);
  --primary-200: var(--antiflash-white);
  --primary-300: var(--platinum);
  --primary-400: var(--french-gray);
  --primary-500: var(--french-gray-2);
  --primary-600: var(--slate-gray);
  --primary-700: var(--outer-space);
  --primary-800: var(--onyx);
  --primary-900: var(--eerie-black);
  --brand: var(--rose-pompadour);
  --sucess: var(--emerald);
  --warning: var(--icterine);
  --danger: var(--red-munsell);
  /* Text */
  --text-neutral-primary: var(--eerie-black);
  --text-neutral-secondary: var(--onyx);
  --text-accent-primary: var(--rose-pompadour);
  --text-danger-primary: var(--red-munsell);
  /* Backgrounds */
  --bg-neutral-primary: var(--seasalt);
  --bg-neutral-secondary: var(--french-gray);
  --border-neutral-primary: var(--eerie-black);
  /* Gradients */
  --grad-top: --gradient-top;
  --grad-bottom: --gradient-bottom;
  --grad-right: --gradient-right;
  --grad-left: --gradient-left;
  --grad-top-right: --gradient-top-right;
  --grad-bottom-right: --gradient-bottom-right;
  --grad-top-left: --gradient-top-left;
  --grad-bottom-left: --gradient-bottom-left;
  --grad-radial: --gradient-radial;
  /* Liquid Glass */
  --bg-glass-primary: var(--slate-gray);
  --bg-glass-secondary: var(--outer-space);
  --bg-glass-backdrop: var(--antiflash-white);
  --border-glass-primary: var(--outer-space);
  --border-glass-secondary: var(--slate-gray);
}
:root[data-theme=light] .theme-picker::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 200px;
  height: 2em;
  padding-bottom: 50%;
  background-image: url("/gameArt/sun-o.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*:root:has(#theme [value="dark"]:checked)*/
/*:root:has(#themer:unchecked)*/
:root[data-theme=dark] {
  color-scheme: dark;
  /* Dark */
  --primary-100: var(--eerie-black);
  --primary-200: var(--onyx);
  --primary-300: var(--outer-space);
  --primary-400: var(--slate-gray);
  --primary-500: var(--french-gray-2);
  --primary-600: var(--french-gray);
  --primary-700: var(--platinum);
  --primary-800: var(--antiflash-white);
  --primary-900: var(--seasalt);
  --brand: var(--rose-pompadour);
  --sucess: var(--emerald);
  --warning: var(--icterine);
  --danger: var(--red-munsell);
  /* Text */
  --text-neutral-primary: var(--seasalt);
  --text-neutral-secondary: var(--french-gray);
  --text-accent-primary: var(--rose-pompadour);
  --text-danger-primary: var(--red-munsell);
  /* Backgrounds */
  --bg-neutral-primary: var(--eerie-black);
  --bg-neutral-secondary: var(--onyx);
  --border-neutral-primary: var(--seasalt);
  /* Gradients */
  --grad-top: --gradient-top;
  --grad-bottom: --gradient-bottom;
  --grad-right: --gradient-right;
  --grad-left: --gradient-left;
  --grad-top-right: --gradient-top-right;
  --grad-bottom-right: --gradient-bottom-right;
  --grad-top-left: --gradient-top-left;
  --grad-bottom-left: --gradient-bottom-left;
  --grad-radial: --gradient-radial;
  /* Liquid Glass */
  --bg-glass-primary: var(--outer-space);
  --bg-glass-secondary: var(--onyx);
  --bg-glass-backdrop: var(--eerie-black);
  --border-glass-primary: var(--slate-gray);
  --border-glass-secondary: var(--outer-space);
}
:root[data-theme=dark] .theme-picker::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 200px;
  height: 2em;
  padding-bottom: 50%;
  background-image: url("/gameArt/moon-o.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*# sourceMappingURL=prodPallete.css.map */
