
.wave-container {
  --container-height: 70px;
  height: var(--container-height);
  background: transparent;
  overflow: hidden;
  > svg {
    fill: var(--bg-neutral-secondary);
    width: 181%;
    height: var(--container-height);

  }
}

.wave-svg {
  margin-bottom: var(--spacing-200);
  &-rotated {
    transform: rotate(180deg);
    margin-top: var(--spacing-200);
  }
}

.wave-path-1 {
  opacity: 0.25;
}

.wave-path-2 {
  opacity: 0.5;
}

.wave-path-3 {
  opacity: 1;
}